{% extends 'base.html.twig' %}

{% block title %}Restablecer Contrase침a{% endblock %}

{% block baseBody %}
    <div class="container" style="padding: 40px 15px;">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <h1 class="text-center">Restablecer tu Contrase침a</h1>
                <p class="text-center">
                    Introduce la direcci칩n de email asociada a tu cuenta y te enviaremos un enlace para restablecer tu contrase침a.
                </p>

                {# Se incluye el parcial para mostrar los mensajes flash (addFlash) #}
{#                {% include 'partials/_flash_messages.html.twig' %}#}

                <div class="login-form" style="margin-top: 20px;">
                    {{ form_start(requestForm) }}
                    <div class="form-group">
                        {{ form_label(requestForm.email) }}
                        {{ form_widget(requestForm.email) }}
                        {{ form_errors(requestForm.email) }}
                    </div>
                    <button type="submit" style="margin-top: 15px;">Enviar Email de Reseteo</button>
                    {{ form_end(requestForm) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

