{% extends "SSTiendaBundle:Estaticos:estaticoPlantialla.html.twig" %}

{% block title %}Pedir a Proveedor | Tuskamisetas.com{% endblock %}
{% block metaDescription %}Ventana para pedir a proveedor.{% endblock %}


{% block cuerpo %}
    <a class="btn btn-default check_out" href="{{ path ('ss_pedir_a_proveedor_pdf') }}" target="_blank">Imprimir
        PDF</a>

    <form action="{{ path('ss_pedir_a_proveedor_confirmado') }}" method="POST">
        <input id="pedidos" name="pedidos" type="hidden" value="{{ pedidos }}">
        <div class="accordion" id="accordionExample">
            {% for fabricante in fabricantes %}
                <div class="card">
                    <div class="card-header" id="headin{{ fabricante.id }}">
                        <h2 class="mb-0">
                            <button class="btn-link collapsed" type="button" data-toggle="collapse"
                                    data-target="#collapse{{ fabricante.id }}" aria-expanded="true"
                                    aria-controls="collapseOne">
                                {{ fabricante.nombre | upper }}
                            </button>
                        </h2>
                    </div>

                    <div id="collapse{{ fabricante.id }}" class="collapse" aria-labelledby="headingOne"
                         data-parent="#accordionExample">
                        <div class="card-body">
                            {% for modelo in modelos %}
                                {% if modelo.proveedor == fabricante %}


                                    <table id="tabla_carrito" class="table-striped accordion table"
                                           style="width: 100%;">
                                        <thead>
                                        <tr class="cart_menu" data-toggle="collapse"
                                            data-target="#collapsemodelo{{ modelo.id }}" class="accordion-toggle"
                                            style="cursor: pointer">
                                            {#<td>Revisado</td>#}
                                            <th colspan="2" class="description" style="overflow: hidden"><h4>
                                                    <b>({{ modelo.referencia }}
                                                        ) - {{ modelo.nombre }} - {{ modelo.supplierArticleName }}</b></h4></th>
                                            <th class="quantity" style="text-align: right; overflow: hidden">Stock Local
                                            </th>


                                        </tr>
                                        </thead>
                                        <tbody class="collapse" id="collapsemodelo{{ modelo.id }}">

                                        {% set colorActual = "-1" %}
                                        {% for presupuesto in carrito.getItems() %}
                                            {% set itemIndex = loop.index0 %}
                                            {% for producto in presupuesto.getProductos() %}
                                                {% if producto.producto.modelo.referencia == modelo.referencia %}
                                                    {% if producto.cantidad > 0 %}
                                                        {% if (colorActual != producto.producto.color) %}
                                                            {% set colorActual = producto.producto.color.nombre %}
                                                            <tr>
                                                                <td colspan="3"
                                                                    style="background-color: {{ producto.producto.color.codigoRGB }}">
                                                                    <p style="margin: 0; color: white; text-shadow: 1px 0 0 black, -1px 0 0 black, 0 1px 0 black, 0 -1px 0 black, 1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;">
                                                                        <b>Color: {{ producto.producto.color.nombre }}</b>
                                                                    </p>
                                                                </td>
                                                            </tr>
                                                        {% endif %}
                                                        <tr>
                                                            <td style="max-width: 40px; width: 40px;">
                                                                <input type="checkbox" class="abc" required>
                                                            </td>
                                                            <td class="cart_description">
                                                                {#<a href="{{ path('ss_tienda_producto_detalle',{'productoNombre':producto.producto.modelo.nombreUrl}) }}">#}
                                                                {#<h4 class="merder">{{ producto.producto.modelo.nombre | upper }}</h4>#}
                                                                <p style="margin: 0; color: black">
                                                                    Talla: {{ producto.producto.talla }}
                                                                    / {{ producto.cantidad }}</p>
                                                                {% for trabajo in presupuesto.getTrabajos() %}
                                                                    <p style="margin: 0; color: black">{{ trabajo }}
                                                                    </p>
                                                                {% endfor %}
                                                                {#</a>#}
                                                                <p class="merder">
                                                                    Ref: {{ producto.producto.referencia }}</p>
                                                            </td>

                                                            <td style="text-align: right">
                                                                {% for inventario in producto.producto.productoHasInventario %}
                                                                    {% if inventario.cantidad > 0 %}
                                                                        <input class="quitar-stock" type="text" id="{{ producto.producto.id }}" data-idProducto="{{ producto.id }}" name="{{ producto.producto.id }}" value="0" style="width: 30px; display: inline; text-align: right">
                                                                        <p style="font-size: 10px; text-align: right">
                                                                            C{{ inventario.caja }}
                                                                            - <b>{{ inventario.cantidad }} u</b></p>
                                                                        {% if inventario.observaciones is not null and inventario.observaciones != "" %}
                                                                            <p>
                                                                                <a style="font-size: 10px; text-align: right; padding: 1px; cursor: pointer"
                                                                                   class="alert alert-danger"
                                                                                   data-toggle="tooltip"
                                                                                   title="{{ inventario.observaciones }}">!!</a>
                                                                            </p>
                                                                            <br>
                                                                        {% endif %}
                                                                    {% endif %}
                                                                {% endfor %}
                                                            </td>
                                                        </tr>
                                                    {% endif %}
                                                {% endif %}
                                            {% endfor %}
                                        {% endfor %}

                                        </tbody>
                                    </table>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <p><b>Pedidos a revisar:</b></p>
        {% for pedido in arraypedidos %}
            <p><a class="sonata-action-element" href="https://www.tuskamisetas.com/admin/ss/tienda/pedido/{{ pedido.getId() }}/showOrdenPedido" target="_blank">{{ pedido }}</a></p>
        {% endfor %}
        <input type="submit" value="PEDIDO REALIZADO">
    </form>


{% endblock %}
