{# templates/web/product/partials/_price_summary.html.twig #}
{% if resultados_grupo is defined and resultados_grupo is not null and resultados_grupo.desglose_productos is not empty %}
    {# --- 1. Extraemos las referencias de los productos que SÍ estamos configurando ahora --- #}
    {% set refs_presupuesto_actual = [] %}
    {% for producto_presupuesto in presupuesto.productos %}
        {% set refs_presupuesto_actual = refs_presupuesto_actual|merge([producto_presupuesto.producto.referencia]) %}
    {% endfor %}

    {# --- 2. Iteramos sobre los resultados del cálculo y SUMAMOS SÓLO LO QUE NOS CORRESPONDE --- #}
    {% set totalProductos = 0 %}
    {% set precioSubTotal = 0 %}
    {% set costeTotalPersonalizacion = 0 %}

    {% for linea in resultados_grupo.desglose_productos %}
        {# Comprobamos si la línea calculada pertenece a los productos que estamos viendo ahora #}
        {% if linea.producto.referencia in refs_presupuesto_actual %}
            {% set totalProductos = totalProductos + linea.unidades %}
            {% set precioSubTotal = precioSubTotal + linea.total_linea_sin_iva %}
            {% set costeTotalPersonalizacion = costeTotalPersonalizacion + (linea.coste_personalizacion_por_unidad * linea.unidades) %}
        {% endif %}
    {% endfor %}

    {# --- 3. El resto de variables se calculan a partir de los totales correctos --- #}
    {% set ivaAplicar = precioSubTotal * (ivaGeneral / 100) %}
    {% set precioTotal = precioSubTotal + ivaAplicar %}
    {% set precioUnidadSinIva = (totalProductos > 0) ? (precioSubTotal / totalProductos) : 0 %}

    {% if totalProductos > 0 %}
{#        {% set precioUnitarioConIva = precioTotal / totalProductos %}#}
        <input type="hidden" id="hidden-precio-unitario-update" value="{{ precioUnidadSinIva | number_format(2, ',', '.') }}€">
        {# NUEVO: Input para pasar las unidades al JS #}
        <input type="hidden" id="hidden-total-unidades-update" value="{{ totalProductos }}">
    {% endif %}
    <fieldset class="product-information borde_naranja" style="padding: 10px; display: block; margin-bottom: 0px;">
        <legend><b><span class="numberCircle">3</span> {% trans %}TU PEDIDO{% endtrans %}</b></legend>

        {% if cantidadEnCarrito is defined and cantidadEnCarrito > 0 %}
            <div class="alert alert-info" style="font-size: 12px; padding: 10px; margin-bottom: 10px;">
                <i class="fa fa-info-circle"></i> El precio se ha calculado teniendo en cuenta los <strong>{{ cantidadEnCarrito }} productos</strong> que ya tienes en el carrito para aplicar el mejor descuento.
            </div>
        {% endif %}

        <table class="table-responsive" style="width: 100%">
            <thead>
            <tr><td colspan="2" style="text-align: center; background-color: #f5f5f5"><b>{% trans %}RESUMEN{% endtrans %}</b></td></tr>
            </thead>
            <tbody>
            <tr>
                <td>{% trans %}Total de Productos{% endtrans %}</td>
                <td style="text-align: right" id="div_precio_total_productos"><b>{{ totalProductos }} uds</b></td>
            </tr>
            <tr>
                <td>{% trans %}Precio por unidad (sin IVA){% endtrans %}</td>
                <td style="text-align: right" id="div_precio_precio_unidad"><b class="precio-unidad-valor">{{ precioUnidadSinIva | number_format(2, ',', '.') }}€</b></td>
            </tr>
            <tr>
                <td>{% trans %}Subtotal{% endtrans %}</td>
                <td style="text-align: right"><b>{{ precioSubTotal | number_format(2, ',', '.') }}€</b></td>
            </tr>

            {% if is_granted('ROLE_ADMIN') %}
                <tr>
                    <td>{% trans %}Serigrafia Por unidad{% endtrans %}</td>
                    <td style="text-align: right"><b>{{ (totalProductos > 0 ? costeTotalPersonalizacion / totalProductos : 0) | number_format(2, ',', '.') }}€</b></td>
                </tr>
                <tr>
                    <td>{% trans %}Total Serigrafia{% endtrans %}</td>
                    <td style="text-align: right"><b>{{ costeTotalPersonalizacion | number_format(2, ',', '.') }}€</b></td>
                </tr>
            {% endif %}

            <tr>
                <td>IVA ({{ ivaGeneral }}%)</td>
                <td style="text-align: right"><b>{{ ivaAplicar | number_format(2, ',', '.') }}€</b></td>
            </tr>
            </tbody>
            <tfoot>
            <tr style="font-size: 1.2em;">
                <td><b>{% trans %}TOTAL{% endtrans %}</b></td>
                <td style="text-align: right"><b>{{ precioTotal | number_format(2, ',', '.') }}€</b></td>
            </tr>
            <tr>
                <td colspan="2">
                    <div class="text-center">
                        {% if totalProductos > 0 %}
                            <form action="{{ path('app_cart_add', {'_locale': app.request.locale}) }}" method="post">
                                <button id="addAMiPEdido" class="button">
                                    <span class="glyphicon glyphicon-shopping-cart" style="margin: 0"></span>
                                    {% trans %}Añadir al Carrito{% endtrans %}
                                </button>
                            </form>
                        {% endif %}
                    </div>
                </td>
            </tr>
            </tfoot>
        </table>
    </fieldset>

    <script>
        // ... tu script de gtag ...todo implementar el script para indicar que es un lead
    </script>
{% endif %}