{% extends "SSTiendaBundle:Web:indexTemplateNoFiltros.html.twig" %}

{% block title %}Marcas de ropa para personalizar | tuskamisetas{% endblock %}
{% block metaDescription %}En TusKamisetas tenemos las mejores marcas en camisetas baratas, sudaderas baratas y regalos de empresa del mercado.{% endblock %}

{% block migas %}
    <div class="breadcrumbs">
        <ol itemscope itemtype="http://schema.org/BreadcrumbList" class="breadcrumb">
            <li itemprop="itemListElement" itemscope
                itemtype="http://schema.org/ListItem">
                <a itemprop="item" href="{{ path('ss_tienda_home') }}">
                    <span itemprop="name">{% trans %}Principal{% endtrans %}</span>
                </a>
                <meta itemprop="position" content="1"/>
            </li>
            <li itemprop="itemListElement" itemscope
                itemtype="http://schema.org/ListItem" class="active">
                <a itemprop="item" href="{{ path('ss_tienda_marcas') }}" class="miActive">
                    <span itemprop="name">{% trans %}Marcas{% endtrans %}</span>
                </a>
                <meta itemprop="position" content="2"/>
            </li>
        </ol>
    </div><!--/breadcrums-->
{% endblock %}

{% block cuerpo %}

    {% set textoCategorias = "En nuestro catálogo contamos con los más prestigiosos <b>fabricantes de ropa</b> para publicidad, ropa deportiva y regalos de empresa para personalizar. Si quieres <b>serigrafíar camisetas de una marca en concreto</b>, nosotros ponemos a tu disposición todo el catálogo del fabricante.<br> En esta sección te mostramos todos los fabricantes con los que trabajamos para que encuentres las prendas que buscas a precios de mayorista.<br>También disponemos de <b>marcas especializadas</b> en bolsas, gorras, ropa deportiva, camisetas técnicas o en ropa laboral. Echa un vistazo por todos nuestros fabricantes de confianza y no te pierdas nada. " %}

    <div class="features_items">
        <h1 class="title text-center">{% trans %}NUESTRAS MARCAS DE ROPA PARA PUBLICIDAD Y EVENTOS{% endtrans %}</h1>
        {% if textoCategorias is defined %}
            <div style="padding: 15px; font-size: 13px;">
                {{ textoCategorias |raw }}
            </div>
        {% endif %}
        <div id="tkmCuerpo">
            <div id="productoGrid">

                {% for proveedor in proveedores %}
                    <a href="{{ path('ss_marca'~ proveedor.nombreUrl) }}">
                        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                            <div class="product-image-wrapper" style="position: relative;">
                                <div class="single-products"
                                     style="height: 180px; background-color: white; text-align: center; padding: 5px">
                                    {#<div class="productinfo text-center">#}
                                    <span class="helperAlign"></span> <img
                                            src="{{ asset('images/dummy200.png') }}"
                                            class="lazy img-responsive"
                                            {#class="img-responsive"#}
                                            id="{{ proveedor.id }}"
                                            data-src="{% path proveedor.imagen, 'wide' %}"
                                            alt="{{ proveedor.nombre }}"
                                            style="vertical-align: middle;display: inline-block; width:100%; height:auto;"/>
                                    {#</div>#}
                                </div>

                                <div class="productoGridDescripcion"
                                     style="position: absolute;bottom: 0; text-align: center;padding: 15px;">
                                    {#<br>#}
                                    <p style="height:28px; margin: auto;  overflow: hidden; vertical-align: middle">{{ proveedor.nombre | upper }}</p>
                                </div>
                            </div>

                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{#{% block javascript %}#}
    {#<script>#}
        {#$(function () {#}
            {#$('.navItem').removeClass('active');#}
            {#$('#navItemMarcas').addClass('active');#}
        {#});#}
    {#</script>#}
{#{% endblock %}#}