{# templates/web/partials/_filters_panel.html.twig #}
{# Este fichero contiene la lógica del panel de filtros lateral #}

{# Importamos la macro para reutilizarla #}
{% import _self as macros %}

{# MIGRACIÓN: Se crea una macro para los grupos de checkboxes #}
{% macro filterCheckboxGroup(title, key, items, filtros_activos) %}
    <div class="filter-group">
        <h3 class="filter-group__title">
            <button class="filter-group__toggle" type="button" data-toggle="collapse" data-target="#filter-{{ key|slug }}">
                {{ title|upper }} <i class="fa fa-plus pull-right"></i>
            </button>
        </h3>
        <div id="filter-{{ key|slug }}" class="panel-collapse collapse in">
            <fieldset class="filter-group__body">
                <legend class="sr-only">{{ title }}</legend>
                {% for item in items %}
                    {% set itemId = item.id %}
                    {% set itemName = item.valor is defined ? item.valor : item.nombre %}
                    <div class="filter-group__option">
                        <input type="checkbox"
                               class="checkboxtkm"
                               id="filter-item-{{ itemId }}"
                               onchange="window.location.href = this.checked ? '{{ path(app.request.attributes.get('_route'), app.request.query.all|merge({(key): (app.request.query.all(key)|default([])|merge([itemId]))})) }}' : '{{ path(app.request.attributes.get('_route'), app.request.query.all|merge({(key): (app.request.query.all(key)|default([])|filter(v => v != itemId))})) }}' "
                               {% if itemId in filtros_activos %}checked{% endif %}>
                        <label for="filter-item-{{ itemId }}">{{ itemName | capitalize }}</label>
                    </div>
                {% endfor %}
            </fieldset>
        </div>
    </div>
{% endmacro %}

<aside class="left-sidebar no-print">
    <p class="tituloMenu">{% trans %}Filtros{% endtrans %}</p>

    {# 1. MARCAS #}
    {% if filtrosDisponibles.fabricantes is defined and filtrosDisponibles.fabricantes is not empty %}
        {{ macros.filterCheckboxGroup('MARCAS'|trans, 'fabricantes', filtrosDisponibles.fabricantes, filtros.fabricante ? [filtros.fabricante.id] : []) }}
    {% endif %}

    {# 2. GÉNERO #}
    {% if filtrosDisponibles.atributos['Genero'] is defined %}
        {{ macros.filterCheckboxGroup('GENERO'|trans, 'atributos', filtrosDisponibles.atributos['Genero'], filtros.atributos) }}
    {% endif %}

    {# 3. FILTRO DE COLOR #}
    {% if filtrosDisponibles.colores is defined and filtrosDisponibles.colores is not empty %}
        <div class="filter-group">
            <h3 class="filter-group__title">
                <button class="filter-group__toggle" type="button" data-toggle="collapse" data-target="#filter-color-accordion">
                    {{ 'Color'|trans|upper }} <i class="fa fa-plus pull-right"></i>
                </button>
            </h3>
            <div id="filter-color-accordion" class="panel-collapse collapse in">
                <div class="filter-group__body filter-group__body--colors">
                    {% for color in filtrosDisponibles.colores %}
                        <a href="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge({'colores': (app.request.query.all('colores')|default([])|merge([color.rgbUnificado]))})) }}">
                            <div class="cuadro-color {% if color.rgbUnificado in filtros.colores %}checked{% endif %}"
                                 style="background-color: {{ color.rgbUnificado }};"
                                 title="{{ color.nombre|upper }}"></div>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}

    {# 4. RESTO DE ATRIBUTOS #}
    {% if filtrosDisponibles.atributos is defined %}
        {% for key, values in filtrosDisponibles.atributos %}
            {% if key != 'Genero' %}
                {{ macros.filterCheckboxGroup(key, 'atributos', values, filtros.atributos) }}
            {% endif %}
        {% endfor %}
    {% endif %}
</aside>
