<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Factura Proforma PR{{ pedido.id }}</title>

    <style>
        .clearfix:after {
            content: "";
            display: table;
            clear: both;
        }

        a {
            color: #5D6975;
            text-decoration: underline;
        }

        body {
            position: relative;
            width: 21cm;
            height: 29.7cm;
            margin: 0 auto;
            color: #001028;
            background: #FFFFFF;
            font-family: Arial, sans-serif;
            font-size: 12px;
            font-family: Arial;
        }

        header {
            padding: 10px 0;
            margin-bottom: 0px;
        }

        #logo {
            text-align: center;
            margin-bottom: 10px;
        }

        #logo img {
            width: 90px;
        }

        h1 {
            border-top: 1px solid #5D6975;
            border-bottom: 1px solid #5D6975;
            color: #5D6975;
            font-size: 2.4em;
            line-height: 1.4em;
            font-weight: normal;
            text-align: center;
            margin: 0 0 20px 0;
            background: url(dimension.png);
        }

        #project span {
            color: #5D6975;
            text-align: right;
            width: 52px;
            margin-right: 10px;
            display: inline-block;
            font-size: 0.8em;
        }

        #company {
            float: right;
            text-align: right;
        }

        #project div,
        #company div {
            white-space: nowrap;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            border-spacing: 0;
            margin-bottom: 20px;
        }

        table tr:nth-child(2n-1) td {
            background: #F5F5F5;
        }

        table th,
        table td {
            text-align: center;
        }

        table th {
            padding: 5px 20px;
            color: #5D6975;
            border-bottom: 1px solid #C1CED9;
            white-space: nowrap;
            font-weight: normal;
        }

        table .service,
        table .desc {
            text-align: left;
        }

        table td {
            /*padding: 20px;*/
            text-align: right;
        }

        table td.service,
        table td.desc {
            vertical-align: top;
        }

        table td.unit,
        table td.qty,
        table td.total {
            font-size: 1.2em;
        }

        table td.grand {
            border-top: 1px solid #5D6975;;
        }

        #notices .notice {
            color: #5D6975;
            font-size: 1.2em;
        }

        footer {
            color: #5D6975;
            width: 100%;
            height: 30px;
            position: absolute;
            bottom: 0;
            border-top: 1px solid #C1CED9;
            padding: 8px 0;
            text-align: center;
        }
    </style>
</head>
<body>
<header class="clearfix">
    <div id="logo" style="text-align: left">
        <img src="http://www.tuskamisetas.com/uploads/media/default/0001/01/pollo_admin.jpeg"
             alt="{{ empresa.nombre }}">
        <div style="display: inline-block; margin-left: 15px">
            <div><h2 style="margin-bottom: 0;">{{ empresa.nombre }}</h2></div>
            <div>{{ empresa.direccion.dir }}
                <br>{{ empresa.direccion.cp }} {{ empresa.direccion.poblacion }} {{ empresa.direccion.provincia }}
            </div>
            <div>{{ empresa.telefonoOtro }}</div>
            <div><a href="mailto:{{ empresa.email }}">{{ empresa.email }}</a></div>
            <div>{{ empresa.cif }}</div>
        </div>

        <div style="float: right;text-align: right;border: 1px solid black;padding: 10px">
            <h2>FACTURA PROFORMA<BR>{{ pedido }}</h2>
        </div>
    </div>
    <div id="company" class="clearfix">
    </div>
    {% if pedido.idDireccion is defined  and pedido.idDireccion != null %}
        <div id="project"
             style="text-align: left;float: left; border: 1px solid white; padding: 15px; padding-left: 0;">
            <div style="border-bottom: 1px solid grey;">DATOS DE ENVÍO</div>
            <br>
            {% if pedido.recogerEnTienda %}
                <h4>RECOGE EN TIENDA</h4>
                <div>{% if pedido.idDireccion is not null %}{{ pedido.idDireccion.dir }}
                        <br> {{ pedido.idDireccion.cp }}
                        <br> {{ pedido.idDireccion.poblacion }}<br> {{ pedido.idDireccion.provincia }}
                        <br> {{ pedido.idDireccion.pais }}<br>{% endif %}
                </div>
            {% else %}
                {#<div><span>PROJECT</span> Website development</div>#}
                {% if (pedido.idDireccion.nombre != "") %}
                    <div>{{ pedido.idDireccion.nombre }}</div>
                {% else %}
                    {% if pedido.idUsuario is defined and pedido.idUsuario != null %}
                        <div>{{ pedido.idUsuario.nombre }}</div>
                        <div>{{ pedido.idUsuario.apellidos }}</div>
                    {% endif %}
                {% endif %}
                <div>{% if pedido.idDireccion is not null %}{{ pedido.idDireccion.dir }}
                        <br> {{ pedido.idDireccion.cp }}
                        <br> {{ pedido.idDireccion.poblacion }}<br> {{ pedido.idDireccion.provincia }}
                        <br> {{ pedido.idDireccion.pais }}<br>{% endif %}
                </div>
                {% if pedido.idUsuario is defined and pedido.idUsuario != null %}
                    {% if pedido.idDireccion.telefonoMovil is defined and pedido.idDireccion.telefonoMovil != "" %}
                        <div>Telf: {{ pedido.idDireccion.telefonoMovil }}</div>
                    {% else %}
                        {% if pedido.idUsuario.telefonoMovil is defined and pedido.idUsuario.telefonoMovil != "" %}
                            <div>Telf 1: {{ pedido.idUsuario.telefonoMovil }}</div>{% endif %}
                        {% if pedido.idUsuario.telefonoOtro is defined and pedido.idUsuario.telefonoOtro != "" %}
                            <div>Telf 2: {{ pedido.idUsuario.telefonoOtro }}</div>{% endif %}
                    {% endif %}
                    <div><a href="mailto:{{ pedido.idUsuario.usuario.email }}">{{ pedido.idUsuario.usuario.email }}</a>
                    </div>
                {% endif %}
                {#<div><span>DUE DATE</span> September 17, 2015</div>#}
            {% endif %}
        </div>
    {% endif %}
    {% if pedido.idUsuario is defined and pedido.idUsuario != null %}
        <div id="project" style="text-align: right; float: right">
            <div>{{ "CL%06d"|format(pedido.idUsuario.id) }}</div>
            {#<div><span>PROJECT</span> Website development</div>#}
            <div>{{ pedido.idUsuario.nombre }}</div>
            <div>{{ pedido.idUsuario.apellidos }}</div>
            <div>{{ pedido.idUsuario.cif }}</div>
            <div>{% if pedido.idUsuario.direccion is not null %}{{ pedido.idUsuario.direccion.dir }}
                    <br> {{ pedido.idUsuario.direccion.cp }}<br> {{ pedido.idUsuario.direccion.poblacion }}
                    <br> {{ pedido.idUsuario.direccion.provincia }}
                    <br> {{ pedido.idUsuario.direccion.pais }}{% endif %}
            </div>
            {% if pedido.idUsuario.telefonoMovil is defined and pedido.idUsuario.telefonoMovil != "" %}
                <div>Telf 1: {{ pedido.idUsuario.telefonoMovil }}</div>{% endif %}
            {% if pedido.idUsuario.telefonoOtro is defined and pedido.idUsuario.telefonoOtro != "" %}
                <div>Telf 2: {{ pedido.idUsuario.telefonoOtro }}</div>{% endif %}
            <div><a href="mailto:{{ pedido.idUsuario.usuario.email }}">{{ pedido.idUsuario.usuario.email }}</a></div>
            {#<div><span>DUE DATE</span> September 17, 2015</div>#}
        </div>
    {% endif %}
    <br>
</header>
<main>
    {#<div style="width: 100%; text-align: right;font-size: 12px; padding-right: 15px ">#}
    {#Fecha de validez:  {{ "now" | date_modify("+10 day") | date('d-m-Y') }} y bajo disponibilidad de stock#}
    {#</div>#}

    <div style="width: 100%; text-align: left;font-size: 12px; padding-right: 15px ">
        Fecha de expedición: {{ pedido.fecha | date('d-m-Y') }}
    </div>
    <div>
        {{ pedido.referenciaInterna }}
    </div>
    <table width="100%">
        <tbody>
        <tr style="background-color: #C1CED9">
            <th class="service">REFERENCIA</th>
            <th class="desc">DESCRIPCION</th>
            <th>CANTIDAD</th>
            <th>PRECIO</th>
            <th><b>TOTAL</b></th>
        </tr>
        {% for lineaPedido in pedido.lineas %}
            <tr>
                <td class="service">{{ lineaPedido.producto.modelo.referencia }}<br>
                    ({{ lineaPedido.producto.referencia }})
                </td>
                <td class="desc">{{ lineaPedido.producto.modelo.nombre }}
                    T/{{ lineaPedido.producto.talla }} {{ lineaPedido.producto.color }}
                    {% for pers in lineaPedido.personalizaciones %}
                        <p style="font-size: 11px; font-weight: bold">{{ pers.getCadenaTrabajo }} {% if pers.pedidoTrabajo.nombre != "" %}({{ pers.pedidoTrabajo.nombre }}){% endif %}</p>

                    {% endfor %}
                </td>
                <td class="qty">{{ lineaPedido.cantidad }}</td>
                <td class="unit">{{ lineaPedido.precio | number_format(3, ',', '.') }}€</td>
                <td class="total">{{ (lineaPedido.precio * lineaPedido.cantidad) | number_format(3, ',', '.') }}€</td>
            </tr>
        {% endfor %}

        {% for lineaPedido in pedido.lineasLibres %}
            <tr>
                <td class="service">
                    LLB{{ lineaPedido.id }}
                </td>
                <td class="desc">{{ lineaPedido.descripcion }}
                </td>
                <td class="qty">{{ lineaPedido.cantidad }}</td>
                <td class="unit">{{ lineaPedido.precio | number_format(3, ',', '.') }}€</td>
                <td class="total">{{ (lineaPedido.precio * lineaPedido.cantidad) | number_format(3, ',', '.') }}€</td>
            </tr>
        {% endfor %}
        <tr>
            <td colspan="5">&nbsp;</td>
        </tr>
        <tr>
            <td class="grand" colspan="4" align="right">SUBTOTAL</td>
            <td class="grand total">{{ pedido.subTotal | number_format(2, ',', '.') }}€</td>
        </tr>
        {% if pedido.descuento is defined and pedido.descuento > 0 %}
            <tr>
                <td colspan="4" align="right">DESCUENTO</td>
                <td class="total">-{{ (pedido.subTotal * pedido.descuento /100) | number_format(2, ',', '.') }}€</td>
            </tr>
            <tr>
                <td colspan="4" align="right">TOTAL NETO</td>
                <td class="total">{{ (pedido.subTotal - (pedido.subTotal * pedido.descuento /100)) | number_format(2, ',', '.') }}
                    €
                </td>
            </tr>
        {% endif %}
        <tr>
            <td colspan="4" class="grand ">GASTOS DE ENVIO</td>
            <td class="grand total">{{ pedido.envio | number_format(2, ',', '.') }}€</td>
        </tr>


        {% if pedido.pedidoExpres == true %}
            {% set precioGastos = empresa.precioServicioExpres %}
            <td colspan="4">SERVICIO EXPRES</td>
            <td class="total">{{ empresa.precioServicioExpres | number_format(2, ',', '.') }}€</td>
        {% else %}
            {% set precioGastos = 0 %}
        {% endif %}


        <tr>
            <td colspan="4">IVA 21%</td>
            {% if pedido.iva > 0 %}
                <td class="total">
                    {{ ((pedido.subTotal + pedido.envio + precioGastos - (pedido.subTotal * pedido.descuento /100))*empresa.ivaGeneral/100) | number_format(2, ',', '.') }}
                    €
                </td>
            {% else %}
                <td class="total">{{ pedido.iva | number_format(2, ',', '.') }}€</td>
            {% endif %}
        </tr>
        {% if pedido.idUsuario.recargoEquivalencia is defined and pedido.idUsuario.recargoEquivalencia %}
            <tr>
                <td colspan="4">RE 5,20%</td>
                <td class="total">{{ pedido.recargoEquivalencia | number_format(2, ',', '.') }}€</td>
            </tr>
        {% endif %}
        <tr>
            <td colspan="4" class="grand total">TOTAL</td>
            <td class="grand total">
                {% if pedido.iva > 0 %}
                {% if pedido.idUsuario.recargoEquivalencia is defined and pedido.idUsuario.recargoEquivalencia %}
                    <b>{{ ((pedido.subTotal + pedido.envio + precioGastos - (pedido.subTotal * pedido.descuento /100))*(1+empresa.ivaGeneral/100)+ pedido.recargoEquivalencia) | number_format(2, ',', '.') }}
                        €</b>
                {% else %}
                    <b>{{ ((pedido.subTotal + pedido.envio + precioGastos - (pedido.subTotal * pedido.descuento /100))*(1+empresa.ivaGeneral/100)) | number_format(2, ',', '.') }}
                        €</b>
                {% endif %}
            </td>
            {% else %}
                {% if pedido.idUsuario.recargoEquivalencia is defined and pedido.idUsuario.recargoEquivalencia %}
                    <b>{{ ((pedido.subTotal + pedido.envio + precioGastos - (pedido.subTotal * pedido.descuento /100))+ pedido.recargoEquivalencia) | number_format(2, ',', '.') }}
                        €</b></td>
                {% else %}
                    <b>{{ ((pedido.subTotal + pedido.envio + precioGastos - (pedido.subTotal * pedido.descuento /100))) | number_format(2, ',', '.') }}
                        €</b></td>
                {% endif %}
            {% endif %}
        </tr>
        </tbody>
    </table>
    {% if pedido.observaciones != "" %}
        <div id="notices" style="border: 1px solid black; padding: 15px">
            <div>OBSERVACIONES:</div>
            <div class="notice">{{ pedido.observaciones | raw }}</div>
        </div>
        <br>
    {% endif %}
    <div id="notices" style="position: relative; bottom: 0; width: 100%">
        <H3>FORMAS DE PAGO:</H3>
        <table style="width: 100%;">
            <tr>
                <td style="text-align: left;padding: 10px;">
                    <H4>TARJETA</H4>
                    <div>
                        <img src="http://www.tuskamisetas.com/images/tarjetas1.jpg" style="width: 90px; height: auto"
                             alt="tarjetas">
                        <h5><a href="{{ url('app_payment_start', {'_locale': app.request.locale, 'id': pedido.id}) }}" style="cursor: pointer; margin-bottom: 15px;">
                                PARA PAGAR CON TARJETA PULSE AQUÍ
                            </a></h5>
                    </div>
                </td>
                <td style="text-align: right; padding: 10px;">
                    <h4>TRANSFERENCIA BANCARIA</h4>
                    <div class="notice">{{ empresa.cuentaBancaria | raw }}</div>
                </td>
            </tr>
        </table>
    </div>
    {#<footer>#}
    {#Este documento ha sido creado desde el sitio web <a href="http://www.tuskamisetas.com">www.tuskamisetas.com</a> y es válido sin la firma y sin el sello#}
    {#</footer>#}
</main>
</body>
</html>