<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>TusKamisetas</title>
    <style type="text/css">
        body {
            margin: 0;
            padding: 0;
            min-width: 100% !important;
        }

        img {
            height: auto;
        }

        .content {
            width: 100%;
            max-width: 600px;
        }

        .header {
            padding: 40px 30px 20px 30px;
        }

        .innerpadding {
            padding: 30px 30px 0px 30px;
        }

        .borderbottom {
            border-bottom: 1px solid #f2eeed;
        }

        .subhead {
            font-size: 15px;
            color: black;
            font-family: sans-serif;
            letter-spacing: 10px;
        }

        .h1, .h2, .bodycopy {
            color: #153643;
            font-family: sans-serif;
        }

        .h1 {
            font-size: 33px;
            line-height: 38px;
            font-weight: bold;
        }

        .h2 {
            padding: 0 0 15px 0;
            font-size: 24px;
            line-height: 28px;
            font-weight: bold;
        }

        .bodycopy {
            font-size: 16px;
            line-height: 22px;
        }

        .button {
            text-align: center;
            font-size: 18px;
            font-family: sans-serif;
            font-weight: bold;
            padding: 0 30px 0 30px;
        }

        .button a {
            color: black;
            text-decoration: none;
        }

        .footer {
            padding: 20px 30px 15px 30px;
        }

        .footercopy {
            font-family: sans-serif;
            font-size: 14px;
            color: black;
        }

        .footercopy a {
            color: black;
            text-decoration: underline;
        }

        @media only screen and (max-width: 550px), screen and (max-device-width: 550px) {
            body[yahoo] .hide {
                display: none !important;
            }

            body[yahoo] .buttonwrapper {
                background-color: transparent !important;
            }

            body[yahoo] .button {
                padding: 0px !important;
            }

            body[yahoo] .button a {
                background-color: #e05443;
                padding: 15px 15px 13px !important;
            }

            body[yahoo] .unsubscribe {
                display: block;
                margin-top: 20px;
                padding: 10px 50px;
                background: #2f3942;
                border-radius: 5px;
                text-decoration: none !important;
                font-weight: bold;
            }
        }
    </style>
</head>

<body yahoo bgcolor="#ff9000" style="margin-top: 40px; margin-bottom: 40px">
<table width="100%" bgcolor="#ff9000" border="0" cellpadding="0" cellspacing="0">

    <tr>
        <td>
            <table class="content" align="center" cellpadding="0" cellspacing="0" border="0">
                <tr>
                    <td style="background-image: url({{ absolute_url(asset('images/repeat_mail.png')) }}); background-repeat: repeat-x; height: 20px; width: 600px"></td>
                </tr>
                <tr style="background-color: white">
                    <td>
                        <table>
                            <tr>
                                <td style="padding:20px; ">
                                    <img class="fix"
                                         src="{{ absolute_url(asset('pollo.jpeg')) }}"
                                         width="90" border="0" alt="logo tuskamisetas"
                                         style="height: auto; width: 90px; display: block;" />
                                </td>
                                <td style="text-align: right; padding: 20px;">
                                    <span class="h1 innerpadding" style="color: #ff9000; text-align: right">
                                    {{ emailTitulo|default('') }}
                                        </span>
                                </td>
                            </tr>
                        </table>

                    </td>
                </tr>


        </td>
    </tr>
    <tr>
        <td bgcolor="white" class="innerpadding">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td class="bodycopy">
                        <b>{{ emailSubtitulo|default('') }}<br></b>
                        {% block texto %}
                            {{ emailTexto|default('') | raw }}
                        {% endblock %}
                    </td>
                </tr>
            </table>
        </td>
    </tr>

    {% block cuerpo %}
    {% endblock %}

    <tr>
        <td class="footer" bgcolor="white">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr class="innerpadding">

                </tr>
                <tr>
                    <td align="left" class="footercopy" style="padding-top: 30px">
                        <a href="https://www.tuskamisetas.com"
                           style="color: #ff9000; text-decoration: none; font-size: 16px; margin-top: 30px;">www.tuskamisetas.com</a>
                    </td>
                </tr>
                <tr>
                    <td align="left" style="padding: 20px 0 30px 0;">
                        <table border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                {# CORRECCIÓN: Comprobamos si 'empresa' está definida antes de usarla #}

                                {# FACEBOOK #}
                                {% if empresa is defined and empresa.facebook is defined and empresa.facebook %}
                                    <td width="37" style="text-align: center; padding: 0 10px 0 10px;">
                                        <a href="{{ empresa.facebook }}" target="_blank">
                                            <img src="{{ absolute_url(asset('images/facebook.png')) }}"
                                                 height="17px" width="auto" alt="Facebook" border="0"
                                                 style="height: 17px; width: auto"/>
                                        </a>
                                    </td>
                                {% endif %}

                                {# TWITTER #}
                                {% if empresa is defined and empresa.twitter is defined and empresa.twitter %}
                                    <td width="37" style="text-align: center; padding: 0 10px 0 10px;">
                                        <a href="{{ empresa.twitter }}" target="_blank">
                                            <img src="{{ absolute_url(asset('images/twitter.png')) }}"
                                                 height="17px" width="auto" alt="Twitter" border="0"
                                                 style="height: 17px; width: auto"/>
                                        </a>
                                    </td>
                                {% endif %}

                                {# YOUTUBE #}
                                {% if empresa is defined and empresa.youtube is defined and empresa.youtube %}
                                    <td width="37" style="text-align: center; padding: 0 10px 0 10px;">
                                        <a href="{{ empresa.youtube }}" target="_blank">
                                            <img src="{{ absolute_url(asset('images/google+.png')) }}"
                                                 height="17px" width="auto" alt="Youtube" border="0"
                                                 style="height: 17px; width: auto"/>
                                        </a>
                                    </td>
                                {% endif %}

                                {# PINTEREST #}
                                {% if empresa is defined and empresa.pinterest is defined and empresa.pinterest %}
                                    <td width="37" style="text-align: center; padding: 0 10px 0 10px;">
                                        <a href="{{ empresa.pinterest }}" target="_blank">
                                            <img src="{{ absolute_url(asset('images/pinterest.png')) }}"
                                                 height="17px" width="auto" alt="Pinterest" border="0"
                                                 style="height: 17px; width: auto"/>
                                        </a>
                                    </td>
                                {% endif %}
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td style="background-image: url({{ absolute_url(asset('images/repeat_mail_abajo.png')) }}); background-repeat: repeat-x; height: 20px; width: 600px"></td>
    </tr>
</table>
</td>
</tr>
</table>

<p style="color: #666666; text-align: center">&reg; TusKamisetas 2026</p>
</body>
</html>